.portfolio {
    position: relative;
  
    .progress {
      position: sticky;
      top: 0;
      left: 0;
      padding-top: 50px;
      text-align: center;
      color: orange;
      font-size: 36px;
  
      .progressBar {
        height: 10px;
        background-color: white;
      }
    }
  
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      gap: 50px;
      overflow: hidden;
  
      max-width: 1366px;
      margin: auto;
  
      .wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
  
        .imageContainer {
          flex: 1;
          height: 50%;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
  
        .textContainer {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 30px;
  
          h2 {
            font-size: 72px;
          }
  
          p {
            color: gray;
            font-size: 20px;
          }
  
          button {
            background-color: orange;
            border: none;
            border-radius: 10px;
            padding: 10px;
            width: 200px;
            cursor: pointer;
          }
        }
      }
    }
  }
  